<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active" id="bg1">
      <%= image_tag("1.jpg", class:"w-100") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("2.jpg", class:"w-100") %>
    </div>
    
  </div>
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="icon-prev" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="icon-next" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<br>
<div class="container">
<h1 style="text-align: center;">Bienvenido</h1> <br>
	<div class="row">
	
		<div class="col-md-4">
			<p>Proin porta laoreet ex. Proin erat augue, interdum sed nisi sed, vehicula consectetur odio. Aenean a mauris ac magna convallis volutpat. Pellentesque accumsan dui a ornare iaculis. Integer molestie quam ut sapien sollicitudin lobortis. Nullam sed tempus sapien. Integer pretium dui nibh, nec pharetra sapien aliquet ut. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla facilisi. Proin non massa suscipit, lobortis quam et, condimentum nisl. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus libero neque, pharetra quis aliquet eu, tincidunt nec ipsum. Duis lobortis non elit condimentum rutrum. Suspendisse eget ante fermentum, vulputate nulla nec, lobortis orci. Nullam vehicula ante mi, ac dignissim diam feugiat fermentum.

</p>
		</div>
		<div class="col-md-4">
			<p>Cras ac eleifend lacus. Vivamus maximus arcu urna, in imperdiet est euismod a. Sed ultricies ultrices congue. Praesent iaculis faucibus quam, ut faucibus elit molestie ut. Nullam mollis mauris diam, pharetra hendrerit lectus imperdiet tempor. Phasellus at leo id nulla venenatis placerat sed non dui. Vivamus velit nibh, finibus a dictum ut, sollicitudin in sapien. In egestas nunc ut arcu finibus euismod.

Vestibulum scelerisque scelerisque sem, vel commodo lectus accumsan sed. Nunc magna sem, convallis efficitur orci finibus, vehicula pharetra tortor. Mauris auctor metus libero. Maecenas blandit, magna a efficitur suscipit, ex ligula posuere tellus, ac commodo diam mauris sed ipsum. Quisque faucibus neque nec ligula eleifend, et pharetra nulla interdum. Aliquam consectetur ex et ultricies venenatis. Quisque placerat orci nisl, id semper turpis efficitur eget. Nulla vel augue lacus. Nunc sit amet mi ac tellus gravida mollis eget nec neque. Donec quis est vel purus volutpat posuere vitae ac mauris. Curabitur aliquet purus dolor, ac tristique metus tempor vel.</p>
		</div>
		<div class="col-md-4">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sodales erat sed nisl viverra, ac scelerisque nisi dapibus. Ut non libero leo. Nulla fringilla dignissim tortor non convallis. Nulla facilisi. Pellentesque blandit diam ornare mauris aliquet, nec tristique enim elementum. Donec ut magna nunc. Mauris bibendum, lorem quis pretium varius, risus purus lobortis quam, at imperdiet sapien urna nec tellus. Mauris in finibus velit. Integer ac felis egestas, blandit velit in, vehicula eros. Aenean quis cursus nunc. Quisque pulvinar enim id ornare tristique. Curabitur in faucibus enim, vel molestie ante. Cras blandit tellus sed tempor cursus. Aenean interdum, nisi ut lacinia consectetur, tortor odio semper elit, id tempus elit diam sed dui. Morbi et sapien augue. Suspendisse nibh dui, tincidunt pretium orci vel, vulputate sodales ex.</p>
		</div>

	</div>

</div>

<!--parallax 1 -->
<section class="bg-1" style="text-align: center;">
     <h1>Bootstrap Parallax</h1>

    <p>Add Some Motion</p>
</section>

<div class="container-fluid">
<br>
<h1 style="text-align: center;">Bienvenido</h1> <br>
  <div class="row">
  
    <div class="col-md-4">
      <p>Proin porta laoreet ex. Proin erat augue, interdum sed nisi sed, vehicula consectetur odio. Aenean a mauris ac magna convallis volutpat. Pellentesque accumsan dui a ornare iaculis. Integer molestie quam ut sapien sollicitudin elit condimentum rutrum. Suspendisse eget ante fermentum, vulputate nulla nec, lobortis orci. Nullam vehicula ante mi, ac dignissim diam feugiat fermentum.

</p>
    </div>
    <div class="col-md-4">
      <p>Cras ac eleifend lacus. Vivamus maximus arcu urna, in imperdiet est euismod a. Sed ultricies ultrices congue. Praesent iaculis faucibus quam, ut faucibus elit molestie ut. Nullam mollis mauris diam, pharetra hendrerit lectus imperdiet tempor. Phasellus at leo id nulla venenatis placerat sed non dui. Vivamus velit nibh, finibus a dictum ut, sollicitudin in sapien. In egestas nunc ut arcu finibus euismod.

Vestibulum scelerisque scelerisque sem, vel commodo lectus accumsan sed. Nunc magna sem, convallis efficitur orci finibus, vehicula phit amet mi ac tellus gravida mollis eget nec neque. Donec quis est vel purus volutpat posuere vitae ac mauris. Curabitur aliquet purus dolor, ac tristique metus tempor vel.</p>
    </div>
    <div class="col-md-4">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sodales erat sed nisl viverra, ac scelerisque nisi dapibus. Ut non libero leo. Nulla fringilla dignissim tortor non convallis. Nulla facilisi. Pellentesqu Aenean interdum, nisi ut lacinia consectetur, tortor odio semper elit, id tempus elit diam sed dui. Morbi et sapien augue. Suspendisse nibh dui, tincidunt pretium orci vel, vulputate sodales ex.</p>
    </div>

  </div>

</div>