<div class="mio">
<div class="container">
<h1>Editing Producto</h1>

<%= render 'form' %>
<div class="btn-group" role="group" arial-label="Basic example">
<%= link_to 'Show', @producto, class:'btn btn-secondary' %>
<%= link_to 'Back', productos_path, class:'btn btn-secondary' %>
</div>
</div>
</div>

<br><br><br>