<div class="mio">
<div class="container">

<h1 style="text-align: center;">Nuevo Producto</h1>

<%= render 'form' %>

<%= link_to 'Atras', productos_path, class:'btn btn-secondary' %>


</div>

</div>

<br><br><br>