/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.

 *= require_self
 *= require 'masonry/transitions'
 *= require font-awesome
 *= require_tree .   
 */
@import "bootstrap";

html {
  height: 100%;
  box-sizing: border-box;
}
/* para que el footer este siempre abajo */
*,
*:before,
*:after {
  box-sizing: inherit;
}


body{
	position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  background-color:#E9E9E9;
}

.navbar {
  height:60px;
    -webkit-transition: all 0.9s ease-out;
    -moz-transition: all 0.9s ease-out;
    -o-transition: all 0.9s ease-out;
    -ms-transition: all 0.9s ease-out;
    transition: all 0.9s ease-out;    

}

.navbar-fixed-top{
background-color:rgba(0,0,0,0.5);
}

.navbar-nav>li>a {

     font-size:18px; 
     color:#31C789;
      }

section {
    height:350px;
    padding-top:50px;
    padding-bottom:50px;
    overflow:auto;
}

.bg-1 {
  background:url('5.jpg') no-repeat center center fixed;
    color:#fff;
    background-size:cover;
}
.bg-2 {
  background:url('5.jpg') no-repeat center center fixed;
    color:#fff;
    background-size:cover;
    padding: 100px 5px;

}


.footer {
	color: #EDE3E3;
	
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  
  
  background-color:#373737;
}


.mio{
  padding-top: 80px;
}

.notices{

  position:absolute;
  top:55px;
  width: 100%;
  z-index: 1500;
  background-color:#EB0089;
  padding: 18px;
  color: #fff;
  text-align:center;
}

