// Place all the styles related to the Productos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#pro{
	margin: 0 auto;
	width:100%;

		.card{
		margin:10px;
		width:350px;
		-webkit-box-shadow: 2px 2px 5px -1px rgba(43,42,42,1);
		-moz-box-shadow: 2px 2px 5px -1px rgba(43,42,42,1);
		box-shadow: 2px 2px 5px -1px rgba(43,42,42,1);
				

				img {
				  width: 100%;
				  height: auto;
				  vertical-align: middle;
				}
		}

}

img{
	width:100%;
}




.capitalize_nombre{
	text-transform: capitalize;
}