
<footer>


	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3" style="margin-left: 40px;">
				
					
						<p>
							Proin porta laoreet ex. Proin erat augue, interdum sed nisi sed, vehicula consectetur odio. Aenean a mauris ac magna convallis volutpat. Pellentesque accumsan dui a ornare iaculis. Integer molestie quam ut sapien sollicitudin lobortis. 
						</p>

					
			</div>
		</div>
	</div>
		
</footer>

